@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

body::-webkit-scrollbar {
    width: 10px;
    background: transparent;
}

body::-webkit-scrollbar-thumb{
    background: #272727;
    border-radius: 5px;
}

.image {
    background-image: url(/bg-evi.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

.neon {
  text-shadow: 0 0 5px #EDF037,
  0 0 25px #EDF037,
  0 0 50px #EDF037,
  0 0 100px #EDF037;
  transition: all 0.2s ease-in-out;
}

.button {
  width: 100%;
  height: 45px;
	background: transparent;
  color: #F9F9F9;
  border: 1px solid #F9F9F9;
  transition: all 0.2s ease-in-out;
}
.button:hover {
	background: #F9F9F9;
  color: #272727
}

.map {
  filter: grayscale(100%) invert(92%) contrast(83%);
}


.scroll {
  width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    top: 420px;
}



@keyframes scrolldown-anim {
  0% {
    opacity: 0;
    height: 6px;
  }

  40% {
    opacity: 1;
    height: 10px;
  }

  80% {
    transform: translate(0, 20px);
    height: 10px;
    opacity: 0;
  }

  100% {
    height: 3px;
    opacity: 0;
  }
}

.chevrons {
  padding: 6px 0 0 0;
  margin-left: -3px;

  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chevrondown {
  margin-top: 0px;
  position: relative;
  border: 1px solid white;
  border-width: 0 5px 5px 0;
  display: inline-block;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
}

.chevrondown:nth-child(odd) {
  animation: pulse54012 500ms ease infinite alternate;
}

.chevrondown:nth-child(even) {
  animation: pulse54012 500ms ease infinite alternate 250ms;
}

@keyframes pulse54012 {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}